@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Добро пожаловать</h1>
    <p>Для того чтобы перейти в каталог персонажей вы можете нажать <a asp-action="Index" asp-controller="Catalog" class="btn-link text-white"><strong>сюда</strong></a> или перейти на страницу через навигацию</p>
</div>