@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-light">@ViewData["Title"]</h1>
            <p class="text-light">You do not have access to this resource.</p>
    </div>
</header>
