html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo{
  max-width: 200px;
  max-height: 100px;
}

textarea {
  resize: none;
}

ul{
  padding: 0;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}

btn:focus, .btn:active:focus, .btn-link.nav-link:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #89a7ff;
}

.select-style {
  background-color: #343a40;
  color: #fff;
}

.select-style:hover,
.select-style:focus {
  background-color: white;
  color: black;
}

.select-style option:first-child {
  color: white;
}

.pagination > li > a
{
  background-color: black;
  color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: black;
  background-color: white;
  border-color: black;
}

.pagination > .active > a
{
  color: black; ;
  background-color: white !important;
  border: solid 1px black !important;
}

.page-item.active .page-link {
  color: black;
}

.pagination > .active > a:hover
{
  background-color: white !important;
  border: solid 1px black;
}