@model star_wars.Application.Common.Models.ViewModels.Character.CharacterListViewModel

@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<div class="h-100 d-flex align-items-center justify-content-center">
    <h1>Каталог</h1>
</div>

<div class="container p-4">
    <div class="row justify-content-center">
        @foreach (var character in Model.Characters)
        {
            <div class="col-md-3 mb-4">
                <div class="card bg-dark text-white border-white">
                    <div class="card-body d-flex flex-row align-items-center justify-content-between">
                        
                        <div>
                            <h5 class="card-title">@character.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@character.OriginName</h6>
                        </div>

                        <div>
                           <a asp-route-id="@character.Id" asp-action="Info" class="ms-4 text-white"><i class="bi bi bi-info-circle fs-5"></i></a>
                           <a asp-route-id="@character.Id" asp-action="Edit" class="ms-4 text-white"><i class="bi bi-pencil-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>